.card {
  width: 300px;
  padding: 20px;
  color: black;
  text-align: left;
}

.card > .user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card > .user .avatar {
  flex-shrink: 0;
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgba(0,0,0,.15);
}

.card > .user .username {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

.card > .user .recent_repo {
  font-weight: lighter;
  font-size: .75em;
  font-style: italic;
}

.card > .usage {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: .8em;
}

.card > .usage > .commits {
  flex-shrink: 0;
  width: 40px;
  height: 25px;
  margin-right: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
  padding: 2px;
  vertical-align: bottom;
}

.card > .stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.card > .stats > .stat {
  display: flex;
  width: 125px;
  margin: 5px 0;
  align-items: center;
  font-size: 0.75em;
}

.card > .stats > .stat > .count {
  flex-shrink: 0;
  width: 40px;
  margin-right: 10px;
  text-align: center;
  background-color: #555;
  color: white;
  font-weight: bold;
  /* font-size: 0.75em; */
}
